html {
    font-family: 'Urbanist', sans-serif;
    font-size: 20px;
    color:whitesmoke;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #6b6868;
    display: flex;
    flex-direction: column;
}

h1 {
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 15px;
}

.subtitulo-1 {
    margin-bottom: 15px;
    font-style: italic;
}

.subtitulo {
    margin-bottom: 15px;
}

header {
    background-color: black;
    display: flex;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.logo {
    height: 70px;
    width: auto;
    transition: all 0.3s;
    cursor: pointer;
    margin: 20px 0px 10px 60px;
}

.logo:hover{
    transform: scale(1.2);
}

.navs {
    list-style: none;
    margin-right: 60px;
}

nav li {
    display: inline-block;
    padding: 0 20px;
}

nav li:hover {
    transform: scale(1.1);
}

nav a {
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
}

nav a:hover{
    color: #EA2027;
    text-decoration: double;
}

.caja-perfil {
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-around;
    
}

.perfil {
    display: flex;
    width: 35%;
    margin: 50px 50px 50px 80px;
}

.saludo {
    font-size: 50px;
}

.acerca {
    width: 65%;
    margin: 9px 80px 0px 0px;
    text-align: justify;
}

button {
    font-family: 'Urbanist', sans-serif;
    color: white;
    background: #EA2027;
    border: none;
    border-radius: 50px;
    padding: 15px 45px;
    cursor: pointer;
    margin-top: 30px;
    font-size: 20px;
}

.proyectos {
    display: flex;
    flex-direction: column;
}



.texto {
    width: auto;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-around;
    margin: 9px 80px 0px 0px;

}

.proyec {
    padding: 30px;
    height: 350px;
    width: 400px;
    cursor: pointer;
    margin-left: 60px;
}

.parrafo {
    text-align: justify;
}

footer {
    background-color: black;
    display: flex;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
    height: 200px;
}

.logo2 {
    height: 85%;
    width: auto;
    margin: 0 40px;
}

.redes li{
    display: inline-block;
}

.redes img{
    height: 50px;
    width: auto;
    padding: 10px;
}
.copyrigth {
    color: #bbbbbb;
    font-size: 13px;
    margin: 20px;
}